<div ng-include="'Views/Partials/Carousel.html'"></div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <h1 ng-bind="title"></h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        Nam ne accumsan intellegat sententiae, vidisse reformidans cu vel, libris detraxit cum an. Nulla choro vis ei. Ne quando elaboraret vim, eum te primis causae discere. Vivendo omnesque philosophia eu nec.
                    </div>
                    <div class="col-md-4">
                        Nam ne accumsan intellegat sententiae, vidisse reformidans cu vel, libris detraxit cum an. Nulla choro vis ei. Ne quando elaboraret vim, eum te primis causae discere. Vivendo omnesque philosophia eu nec.
                    </div>
                    <div class="col-md-4">
                        Nam ne accumsan intellegat sententiae, vidisse reformidans cu vel, libris detraxit cum an. Nulla choro vis ei. Ne quando elaboraret vim, eum te primis causae discere. Vivendo omnesque philosophia eu nec.
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        Nam ne accumsan intellegat sententiae, vidisse reformidans cu vel, libris detraxit cum an. Nulla choro vis ei. Ne quando elaboraret vim, eum te primis causae discere. Vivendo omnesque philosophia eu nec.
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        Nam ne accumsan intellegat sententiae, vidisse reformidans cu vel, libris detraxit cum an. Nulla choro vis ei. Ne quando elaboraret vim, eum te primis causae discere. Vivendo omnesque philosophia eu nec.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>